// Font
$nunitoSansB: "NunitoSansB";
$nunitoSansR: "NunitoSansR";
$nunitoSansL: "NunitoSansL";
$alata: "Alata";

// Breakpoint
$xl: 81.25em;
$lg: 64em;
$md: 62em;
$sm: 48em;
$xs: 34em;

// Font Weight
$light: 300;
$normal: 400;    
$bold: 600;

// Color
$alto: #D3D3D3;
$athens-gray: #f1f1f5;
$baltic-sea: #2b2932;
$bizarre: #f2dede;
$black: #000000;
$boulder:#777;
$eastern-blue: #1298B5;
$fedora: #856F80;
$feijoa: #aedd94;
$ghost: #C9C9D7;
$green: #00DB13;
$half-spanish-white: #FEF2DC;
$indianred: #CD5C5C;
$pastel-green: #80DB76;
$powder-ash: #b5cac1;
$radical-red: #ff3366;
$rainee: #acc99c;
$screaming-green: #67F473;
$smoky: #5B5176;
$surfie-green: #107287;
$white: #fff;
$whisper: #fafafc;

$primary-color: $surfie-green;