// Font
$nunitoSansB: "NunitoSansB";
$nunitoSansR: "NunitoSansR";
$nunitoSansL: "NunitoSansL";
$alata: "Alata";

// Breakpoint REVOIR LES VALEURS
$xl: 81.25em; //1300px    
$lg: 64em; //1024px    
$md: 62em; // 992px    
$sm: 48em; // 768px    
$xs: 34em ;//544px

// Font Weight
$light: 300;
$normal: 400;    
$bold: 600;

// Color
$alto: #D3D3D3;
$athens-gray: #f1f1f5;
$baltic-sea: #2b2932;
$bizarre: #f2dede;
$black: #000000;
$boulder:#777;
$fedora: #856F80;
$feijoa: #aedd94;
$ghost: #C9C9D7;
$half-spanish-white: #FEF2DC;
$pastel-green: #80DB76;
$powder-ash: #b5cac1;
$radical-red: #ff3366;
$rainee: #acc99c;
//$red: #ff0000; 
$smoky: #5B5176;
$surfie-green: #107287;
$white: #fff;
$whisper: #fafafc;


$primary-color: $surfie-green;