{% extends 'base.html.twig' %}

{% block seo %}    
    {% include 'common/meta-header.html.twig' with { 
        'key' : key, 
        'title' :  'title.text' ,
        'metaDescription' : 'meta-description.text' } only %}
{% endblock %}

{% block body %}
    <div class="static">        
        <h1 class="h1">{{ (key ~'.h1.text')|trans }}</h1>  
        <div class="content">{{ (key ~'.body.text.html')|trans|raw }}</div>
    </div>
{% endblock %}