{% for locale in locales %}
    {% set route_name = app.request.get('_route') %}

    {% if route_name%}
        {% set route_parameters = app.request.attributes.get('_route_params')|merge({'_locale':locale}) %}
            <li>
                <a href="{{url(route_name, route_parameters)}}">
                    <img src="{{ asset('build/images/flag/lang/'~ locale ~'.png') }}" alt="{{locale}}" title="{{ ('header.lang.available.'~ locale ~'.text')|trans }}" width="27" height="20"/>
                </a>
            </li>
    {% endif %}
{% endfor %}

